body {
 font-family: monospace;    
}

ul {    
 font-family: helvética;    
}
li {
 list-style: circle;
}
image-box{
   width: 300px; /* Largura da box */
   height: 200px; /* Altura da box */
   border: 2px solid #bd2020; /* Borda da box */
   padding: 10px; /* Espaçamento interno */
   margin: 20px; /* Espaçamento externo */
   box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra opcional */
   border-radius: 8px; /* Cantos arredondados */
   overflow: hidden; 
}
.list {
 list-style: square;
}

#msg {
 font-family: monospace;  
}

.light-theme {
 color: #000000;    
 background: #00FF00;    
}